<h1>About this Awesome Shop</h1>

<p>
   This mighty shop was created by CC (Cornelia) for CA2.
   
</p>

And here's some JavaScript for you:

<h2>want to hear a joke?</h2>

<p>Why did the chicken cross the road?</p>

<p id="demo" style="display:none">It felt like it!</p>

<button type="button" onclick="document.getElementById('demo').style.display='block'">Click Me!</button>
