<% provide(:title, 'Home') %>

<div class="mainCont">
    
<h1>Welcome to CC's Retro Phone Shop</h1>
<p>Worry no more about having the latest tech.</p>
<br>
<br>
<%= image_tag("lo.JPG", alt:"lo?", :class => "welcomeIm") %>
    

<p>Everyone sells you the phones you need, but only CC sells you the phones you want!</p>
</div>